div{
	
	
	
	
}
p{    background: seagreen;
    font-family: sans-serif;
    font-size: 45;
}
	
	
	
}
h1{      background: crimson;
    text-align: center;
    color: silver;}
.container{
	
	
}
.col-2-1{
	
	
}